<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SIM.Properties.Settings.InventoryDBConnectionString"
            connectionString="server=localhost;user id=root;password=root;persistsecurityinfo=True;database=InventoryDB"
            providerName="MySql.Data.MySqlClient" />
        <add name="SIM.Properties.Settings.simDBConnectionString" connectionString="server=localhost;user id=root;database=simDB"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>